@import "/src/cssfile";

.homepage {
  height: 860px;
  background-color: #f1ede9;
  position: relative;
  overflow: hidden;
  &__nav {
    height: 80px;
    background-color: #fff;
    padding: 22px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    .logo {
      width: 1362px;
      height: 32px;
      color: $color-4e7b57;
      font-size: 32px;
      font-weight: 900;
      line-height: 32px;
    }
    .link {
      width: 484px;
      height: 36px;
      display: flex;
      align-items: center;
      a {
        width: 84px;
        height: 36px;
        color: $color-4e7b57;
        font-size: 16px;
        font-weight: 900;
        text-align: center;
        text-decoration: none;
        line-height: 36px;
        margin-left: 10px;
        &:last-child {
          color: white;
          background-color: $color-4e7b57;
        }
      }
    }
  }
  &__title {
    width: 433px;
    height: 341px;
    background-size: 433px 276px;
    background-image: url("/src/assets/title.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    &:hover {
      background-image: url("/src/assets/title_hover.png");
    }
  }
  &__titleBg {
    width: 306px;
    height: 216px;
    background-size: cover;
    background-image: url("/src/assets/title_bg.png");
    margin: -134px auto;
    position: relative;
    z-index: 1;
  }
  .link-button {
    margin: 310px auto 0;
  }
  &__rightPage {
    .webDesign {
      font-size: 52px;
      font-weight: 800;
      font-family: "Georama";
      font-style: italic;
      white-space: nowrap;
      z-index: 5;
      @include locate-element(135px, 720px);
    }
    .rect {
      width: 220px;
      height: 265px;
      background-size: cover;
      background-image: url("/src/assets/rect.png");
      position: absolute;
      top: 350px;
      right: 0;
    }
    .bug {
      width: 422px;
      height: 335px;
      background-size: cover;
      background-image: url("/src/assets/bug.png");
      transition: all 0.3s;
      @include locate-element(320px, 365px);
      &:hover {
        background-image: url("/src/assets/bug_hover.png");
      }
    }
  }
  &__leftPage {
    .book-box {
      width: 422px;
      height: 335px;
      background-size: cover;
      background-image: url("/src/assets/book.png");
      transition: all 0.3s;
      @include locate-element(320px, -380px);
      &:hover {
        background-image: url("/src/assets/book_hover.png");
      }
    }
    .fontEnd {
      font-size: 52px;
      font-weight: 800;
      font-family: "Georama";
      font-style: italic;
      position: absolute;
      top: 600px;
      left: 100px;
    }
  }
  .slider {
    position: absolute;
    bottom: 12px;
    ul {
      display: flex;
      list-style-type: none;
      li {
        color: white;
        font-size: 80px;
        font-weight: 900;
        margin-right: 30px;
      }
    }
  }
}
