@import "/src/cssfile";

.nav {
  width: 100%;
  height: 80px;
  background-color: #fff;
  padding: 22px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  &__logo {
    width: 1362px;
    height: 32px;
    color: $color-4e7b57;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
  }
  &__link {
    width: 484px;
    height: 36px;
    display: flex;
    align-items: center;
    a {
      width: 84px;
      height: 36px;
      color: $color-4e7b57;
      font-size: 16px;
      font-weight: 900;
      text-align: center;
      text-decoration: none;
      line-height: 36px;
      margin-left: 10px;
      &:last-child {
        color: white;
        background-color: $color-4e7b57;
      }
    }
  }
}
