$color-4e7b57: #4e7b57;
$color-69a575: #69a575;
$color-a9c1ae: #a9c1ae;

$color-cfa575: #cfa575;
$color-dfc5a7: #dfc5a7;
$color-f1ede9: #f1ede9;

$color-d2c67a: #d2c67a;
$color-efe5a4: #efe5a4;
$color-faf4d2: #faf4d2;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
