$color-4e7b57: #4e7b57;
$color-69a575: #69a575;
$color-a9c1ae: #a9c1ae;

$color-cfa575: #cfa575;
$color-dfc5a7: #dfc5a7;
$color-f1ede9: #f1ede9;

$color-d2c67a: #d2c67a;
$color-efe5a4: #efe5a4;
$color-faf4d2: #faf4d2;

@font-face {
  font-family: GenSenRounded-H;
  src: url("/src/fonts/GenSenRounded-H.ttc");
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin locate-element($t: 0, $ml: 0) {
  position: absolute;
  top: $t;
  left: 50%;
  transform: translateX(-50%);
  margin-left: $ml;
}

@keyframes slide1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}
